body{
  background-color: #DA2727;
}
p {
  font-size: 140px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-style: italic;
}