<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io();
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', {
        'msg' : $('#m').val(),
        'user' : <%= user.username %>
      });
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(payload){
      var newMsg = $('<li>').html("<b>"+payload.user+"</b> "+payload.msg);
      if(payload && payload.user == <%= user.username %>){
        newMsg.addClass('own');
      }
      console.log(newMsg)
      $('#messages').append(newMsg);
    });
  });
</script>
<div class="py-5"></div>
<div>
  <ul id="messages"></ul>
  <form action="">
    <input class="form-control" id="m" autocomplete="off" /><button>Send</button>
  </form>
</div>