<form action="verify" method="post">
  <div class="container">
    <label for="confirmation"><b>Confirmation COde</b></label>
    <input type="text" placeholder="Enter the Confirmation" name="confirmation" required>

    <button type="submit">Verify</button>
  </div>

</form>